MosesFiles/
cache/
data/
outputs/
test_files/
**__pycache__**
logs/mlp_loss_history.json
logs/mlp_train_log.log
output.out
saved_models/
./best_features_dataset/
src/models/__pycache__/mlp.cpython-312.pyc
logs/mlp_train_log_old1.log
moses.ipynb
logs/
best_features_dataclass/
explanations/
nohup.out
results/
best_features_dataset*/
correlation_matrix/
out_file_averages.txt
attention_matrices/
attention_matrices_solid/
*.ipynb
*.out